<div ng-controller="receitaController">
	<div class="row">
		<div class="page-header">
			<h1>Balanço Patrimonial</h1>
			<a href="" ng-click="delete()"><span class="glyphicon glyphicon-trash"></span></a>
		</div>
	</div>

	<div class="row">
		<table class="table table-responsive table-hover table-sm table-bordered" ng-init="initBalanco1()">
			<thead class="thead-inverse">
				<th>Descrição</th>
				<th>Inicial</th>				
				<th>Final</th>
				<a href="" data-toggle="modal" data-target="#balancoModalNew" ng-click="num=1"><span class="glyphicon glyphicon-plus"></span></a>
			</thead>
			<tbody class="basel-table-body">
			<tr ng-repeat="item in balanco_1">
				<td>{{item.descricao}}</td>
				<td>{{item.inicial | number:2}}</td>
				<td>{{item.final | number:2}}</td>
				<td><button class="btn btn-info btn-sq-xs" ng-click="edit(item, 1)"><span class="glyphicon glyphicon-pencil"></span></button></td>
			</tr>
			</tbody>
		</table>
		<!--BALANCO 1-->
		<table class="table table-responsive table-hover table-sm table-bordered">
			<thead class="thead-inverse">
				<th class="text-center">R$</th>
				<th>Inicial</th>				
				<th>Final</th>
			</thead>
			<tbody class="basel-table-body">
			<tr>
				<td>Total</td>
				<td>{{balanco_total_1[0] | number:2}}</td>
				<td>{{balanco_total_1[1] | number:2}}</td>
			</tr>
			</tbody>
		</table>

		<table class="table table-responsive table-hover table-sm table-bordered">
			<thead class="thead-inverse">
				<th>Descrição</th>
				<th>Inicial</th>				
				<th>Final</th>
				<a href="" data-toggle="modal" data-target="#balancoModalNew" ng-click="num=2"><span class="glyphicon glyphicon-plus"></span></a>
			</thead>
			<tbody class="basel-table-body">
			<tr ng-repeat="item in balanco_2">
				<td>{{item.descricao}}</td>
				<td>{{item.inicial | number:2}}</td>
				<td>{{item.final | number:2}}</td>
				<td><button class="btn btn-info btn-sq-xs" ng-click="edit(item, 2)"><span class="glyphicon glyphicon-pencil"></span></button></td>
			</tr>
			</tbody>
		</table>
		<!--BALANCO 2-->
		<table class="table table-responsive table-hover table-sm table-bordered">
			<thead class="thead-inverse">
				<th class="text-center">R$</th>
				<th>Inicial</th>				
				<th>Final</th>
			</thead>
			<tbody class="basel-table-body">
			<tr>
				<td>Total</td>
				<td>{{balanco_total_2[0] | number:2}}</td>
				<td>{{balanco_total_2[1] | number:2}}</td>
			</tr>
			</tbody>
		</table>

		<table class="table table-responsive table-hover table-sm table-bordered">
			<thead class="thead-inverse">
				<th>Descrição</th>
				<th>Inicial</th>				
				<th>Final</th>
				<a href="" data-toggle="modal" data-target="#balancoModalNew" ng-click="num=3"><span class="glyphicon glyphicon-plus"></span></a>
			</thead>
			<tbody class="basel-table-body">
			<tr ng-repeat="item in balanco_3">
				<td>{{item.descricao}}</td>
				<td>{{item.inicial | number:2}}</td>
				<td>{{item.final | number:2}}</td>
				<td><button class="btn btn-info btn-sq-xs" ng-click="edit(item, 3)"><span class="glyphicon glyphicon-pencil"></span></button></td>
			</tr>
			</tbody>
		</table>
		<!--BALANCO 3-->
		<table class="table table-responsive table-hover table-sm table-bordered">
			<thead class="thead-inverse">
				<th class="text-center">R$</th>
				<th>Inicial</th>				
				<th>Final</th>
			</thead>
			<tbody class="basel-table-body">
			<tr>
				<td>Total</td>
				<td>{{balanco_total_3[0] | number:2}}</td>
				<td>{{balanco_total_3[1] | number:2}}</td>
			</tr>
			</tbody>
		</table>

		<table class="table table-responsive table-hover table-sm table-bordered">
			<thead class="thead-inverse">
				<th>Descrição</th>
				<th>Inicial</th>				
				<th>Final</th>
				<a href="" data-toggle="modal" data-target="#balancoModalNew" ng-click="num=4"><span class="glyphicon glyphicon-plus"></span></a>
			</thead>
			<tbody class="basel-table-body">
			<tr ng-repeat="item in balanco_4">
				<td>{{item.descricao}}</td>
				<td>{{item.inicial | number:2}}</td>
				<td>{{item.final | number:2}}</td>
				<td><button class="btn btn-info btn-sq-xs" ng-click="edit(item, 4)"><span class="glyphicon glyphicon-pencil"></span></button></td>
			</tr>
			</tbody>
		</table>
		<!--BALANCO 4-->
		<table class="table table-responsive table-hover table-sm table-bordered">
			<thead class="thead-inverse">
				<th class="text-center">R$</th>
				<th>Inicial</th>				
				<th>Final</th>
			</thead>
			<tbody class="basel-table-body">
			<tr>
				<td>Total</td>
				<td>{{balanco_total_4[0] | number:2}}</td>
				<td>{{balanco_total_4[1] | number:2}}</td>
			</tr>
			</tbody>
		</table>

		<table class="table table-responsive table-hover table-sm table-bordered">
			<thead class="thead-inverse">
				<th>Descrição</th>
				<th>Inicial</th>				
				<th>Final</th>
				<a href="" data-toggle="modal" data-target="#balancoModalNew" ng-click="num=5"><span class="glyphicon glyphicon-plus"></span></a>
			</thead>
			<tbody class="basel-table-body">
			<tr ng-repeat="item in balanco_5">
				<td>{{item.descricao}}</td>
				<td>{{item.inicial | number:2}}</td>
				<td>{{item.final | number:2}}</td>
				<td><button class="btn btn-info btn-sq-xs" ng-click="edit(item, 5)"><span class="glyphicon glyphicon-pencil"></span></button></td>
			</tr>
			</tbody>
		</table>
		<!--BALANCO 5-->
		<table class="table table-responsive table-hover table-sm table-bordered">
			<thead class="thead-inverse">
				<th class="text-center">R$</th>
				<th>Inicial</th>				
				<th>Final</th>
			</thead>
			<tbody class="basel-table-body">
			<tr>
				<td>Total</td>
				<td>{{balanco_total_5[0] | number:2}}</td>
				<td>{{balanco_total_5[1] | number:2}}</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div class="modal fade" id="balancoModal" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Componente de Balanço</h4>
				</div>

				<div class="modal-body">
					<form class="basel-form">
						<input type="hidden" class="form-control" ng-model="form.id">

						<div class="form-group col-md-12">
							<label>Descrição</label><input type="text" class="form-control" ng-model="form.descricao" readonly>
						</div>

						<div class="form-group col-md-3">
							<label>Inicial</label><input type="text" class="form-control" ng-model="form.inicial">
						</div>

						<div class="form-group col-md-3">
							<label>Final</label><input type="text" class="form-control" ng-model="form.final">
						</div>

					</form>
				</div>

				<div class="modal-footer">
					<div class="btn-group btn-group-justified" role="group">
                        <div class="btn-group" role="group">
                            <button class="btn btn-success" ng-click="save(num)"><span class="glyphicon glyphicon-ok"></button>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-default" ng-click="cancel()" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></button>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="balancoModalNew" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Componente de Balanço</h4>
				</div>

				<div class="modal-body">
					<form class="basel-form">
						<div class="form-group col-md-12">
							<label>Descrição</label><input type="text" class="form-control" ng-model="form.descricao">
						</div>

						<div class="form-group col-md-3">
							<label>Inicial</label><input type="text" class="form-control" ng-model="form.inicial">
						</div>

						<div class="form-group col-md-3">
							<label>Final</label><input type="text" class="form-control" ng-model="form.final">
						</div>
					</form>
				</div>

				<div class="modal-footer">
					<div class="btn-group btn-group-justified" role="group">
                        <div class="btn-group" role="group">
                            <button class="btn btn-success" ng-click="new()"><span class="glyphicon glyphicon-ok"></button>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-default" ng-click="cancel()" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></button>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>