<div ng-controller="balancoController">
	<div class="row">
		<div class="page-header">
			<h1>Balanço Patrimonial</h1>
			<a href="" ng-click="delete()"><span class="glyphicon glyphicon-trash"></span></a>
		</div>
	</div>

	<div class="row">
		<table class="table table-responsive table-hover table-sm table-bordered" ng-init="initBalanco()">
		<thead class="thead-inverse">
			<tr>
				<th>Descrição</th>
				<th>Inicial</th>				
				<th>Final</th>
			</tr>
		</thead>
		<tbody class="table-body">
			<tr>
				<th class="text-center" colspan="3"> ATIVO</th>
			</tr>

			<!--  -->
			<tr>
				<th class="text-center" colspan="3">1º CIRCULANTE</th>
			</tr>
			<tr ng-repeat="item in balanco[0]">
				<td>{{item.descricao}}</td>
				<td>{{item.inicial | number:2}}</td>
				<td>{{item.final | number:2}}</td>
				<td><button class="btn btn-info btn-sq-xs" ng-click="edit(item)"><span class="glyphicon glyphicon-pencil"></span></button></td>
			</tr>
			<tr>
				<th>Total 1º</th>
				<td>{{balanco_total[0][0] | number:2}}</td>
				<td>{{balanco_total[0][1] | number:2}}</td>
			</tr>
			
			<!--  -->
			<tr>
				<th class="text-center" colspan="3">2º REALIZÁVEL A LONGO PRAZO</th>
			</tr>
			<tr ng-repeat="item in balanco[1]">
				<td>{{item.descricao}}</td>
				<td>{{item.inicial | number:2}}</td>
				<td>{{item.final | number:2}}</td>
				<td><button class="btn btn-info btn-sq-xs" ng-click="edit(item)"><span class="glyphicon glyphicon-pencil"></span></button></td>
			</tr>
			<tr>
				<th>Total 2º</th>
				<td>{{balanco_total[1][0] | number:2}}</td>
				<td>{{balanco_total[1][1] | number:2}}</td>
			</tr>

			<!--  -->
			<tr>
				<th class="text-center" colspan="3">3º PERMANENTE</th>
			</tr>
			<tr ng-repeat="item in balanco[2]">
				<td>{{item.descricao}}</td>
				<td>{{item.inicial | number:2}}</td>
				<td>{{item.final | number:2}}</td>
				<td><button class="btn btn-info btn-sq-xs" ng-click="edit(item)"><span class="glyphicon glyphicon-pencil"></span></button></td>
			</tr>
			<tr>
				<th>Total 3º</th>
				<td>{{balanco_total[2][0] | number:2}}</td>
				<td>{{balanco_total[2][1] | number:2}}</td>
			</tr>

			<!--  -->
			<tr>
				<th class="text-center" colspan="3"> PASSIVO</th>
			</tr>

			<!--  -->
			<tr>
				<th class="text-center" colspan="3">4º CIRCULANTE</th>
			</tr>
			<tr ng-repeat="item in balanco[3]">
				<td>{{item.descricao}}</td>
				<td>{{item.inicial | number:2}}</td>
				<td>{{item.final | number:2}}</td>
				<td><button class="btn btn-info btn-sq-xs" ng-click="edit(item)"><span class="glyphicon glyphicon-pencil"></span></button></td>
			</tr>
			<tr>
				<th>Total 4º</th>
				<td>{{balanco_total[3][0] | number:2}}</td>
				<td>{{balanco_total[3][1] | number:2}}</td>
			</tr>

			<!--  -->
			<tr>
				<th class="text-center" colspan="3">5º EXIGÍVEL A LONGO PRAZO</th>
			</tr>
			<tr ng-repeat="item in balanco[4]">
				<td>{{item.descricao}}</td>
				<td>{{item.inicial | number:2}}</td>
				<td>{{item.final | number:2}}</td>
				<td><button class="btn btn-info btn-sq-xs" ng-click="edit(item)"><span class="glyphicon glyphicon-pencil"></span></button></td>
			</tr>
			<tr>
				<th>Total 5º</th>
				<td>{{balanco_total[4][0] | number:2}}</td>
				<td>{{balanco_total[4][1] | number:2}}</td>
			</tr>

			<!--  -->
			<tr>
				<td colspan="3"></td>
			</tr>

			<!--  -->
			<tr>
				<th>TOTAL LIQUIDO</th>
				<th>{{balanco_liquido[0] | number:2}}</th>
				<th>{{balanco_liquido[1] | number:2}}</th>
			</tr>

			<!--  -->
			<tr>
				<th>TOTAL ATIVO (1º+2º+3º)</th>
				<th>{{balanco_ativo[0] | number:2}}</th>
				<th>{{balanco_ativo[1] | number:2}}</th>
			</tr>

			<!--  -->
			<tr>
				<th>TOTAL PASSIVO(4º+5º+Liquido)</th>
				<th>{{balanco_passivo[0] | number:2}}</th>
				<th>{{balanco_passivo[1] | number:2}}</th>
			</tr>

			<!--  -->
			<tr>
				<th>VALORIZAÇÃO DO PATRIMÔNIO</th>
				<th colspan="2">{{balanco_liquido[1] - balanco_liquido[0] | number:2}}</th>
			</tr>
		</tbody>
		</table>
	</div>

	<div class="modal fade" id="balancoModal" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Componente de Balanço</h4>
				</div>

				<div class="modal-body">
					<form class="basel-form">
						<input type="hidden" class="form-control" ng-model="form.id">
						<input type="hidden" class="form-control" ng-model="form.propriedadeId_FK">
						<input type="hidden" class="form-control" ng-model="form.var">

						<div class="form-group col-md-12">
							<label>Descrição</label><input type="text" class="form-control" ng-model="form.descricao" readonly>
						</div>

						<div class="form-group col-md-6">
							<label>Inicial</label><input type="text" class="form-control" ng-model="form.inicial">
						</div>

						<div class="form-group col-md-6">
							<label>Final</label><input type="text" class="form-control" ng-model="form.final">
						</div>

					</form>
				</div>

				<div class="modal-footer">
					<div class="btn-group btn-group-justified" role="group">
                        <div class="btn-group" role="group">
                            <button class="btn btn-success" ng-click="save(num)"><span class="glyphicon glyphicon-ok"></button>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-default" ng-click="cancel()" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></button>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>