<div ng-controller="criaController" ng-init="initEvolucao()">
	<div class="row">
		<div class="page-header">
			<h1>Cria <small>Inicial</small></h1>
			<a href="" ng-click="edit()"><span class="glyphicon glyphicon-cog"></span></a>
			<a href="" ng-click="delete()"><span class="glyphicon glyphicon-trash"></span></a>
		</div>
	</div>
	<!-- TABELAS -->
	<div class="row text-center">
		<nav aria-label="Page navigation">
			<ul class="pagination pagination-sm">
		    	<li ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]">
		    		<a href="" ng-click="getAno(i)">{{i}}</a>
	    		</li>
		  	</ul>
		</nav>
	<!-- DESEMPENHO -->
		<div class="col-md-6">
			<h2 class="text-right">Desempenho Animal</h2>
			<table class="table table-responsive table-hover table-sm table-bordered">
				<thead class="basel-table-head"><tr>
					<th>Descricao</th>
					<th>Qtd</th>
					<th>P.V. <small>Inicial</small></th>
					<th>G.M.D.</th>
					<th>Periodo</th>
					<th>Desmame <small>PV/kg</small></th>
					<th>Desmame <small>@</small></th>
				</tr></thead>
				<tbody class="basel-table-body"><tr ng-repeat="item in anoDesempenho">
					<td>{{item.descricao}}</td>
					<td>{{item.qtd}}</td>
					<td>{{item.pvi}}</td>
					<td>{{item.gmd}}</td>
					<td>{{item.periodo}}</td>
					<td>{{item.desmame}}</td>
					<td>{{item.desmamea}}</td>
				</tr></tbody>
			</table>
		</div>
	<!-- RACAO -->
		<div class="col-md-6">
			<h2 class="text-right">Valor da Racao</h2>
			<table class="table table-responsive table-hover table-sm table-bordered">
				<thead class="basel-table-head"><tr>
					<th>Descricao</th>
					<th>Vol. <small>(R$/Kg)</small></th>
					<th>Vol. <small>(Total R$)</small></th>
					<th>Conc. <small>(R$/Kg)</small></th>
					<th>Conc. <small>(Total R$)</small></th>
					<th>Racao <small>(Total R$)</small></th>
				</tr></thead>
				<tbody class="basel-table-body"><tr ng-repeat="item in anoRacao">
					<td>{{item.descricao}}</td>
					<td>{{item.valor}}</td>
					<td>{{item.valort}}</td>
					<td>{{item.con}}</td>
					<td>{{item.cont}}</td>
					<td>{{item.total}}</td>
				</tr></tbody>
			</table>
		</div>
	<!-- PRODUCAO -->
		<div class="col-md-6">
			<h2 class="text-right">Valor da Producao Animal</h2>
			<table class="table table-responsive table-hover table-sm table-bordered"">
				<thead class="basel-table-head"><tr>
					<th>Descricao</th>
					<th>Valor <small>(R$/@)</small></th>
					<th>Animal <small>(R$)</small></th>
				</tr></thead>
				<tbody class="basel-table-body"><tr ng-repeat="item in anoProducao">
					<td>{{item.descricao}}</td>
					<td>{{item.valor}}</td>
					<td>{{item.valor_animal}}</td>
				</tr></tbody>
			</table>
		</div>
	<!-- ALIMENTECAO -->
		<div class="col-md-6">
			<h2 class="text-right">Alimentacao Animal</h2>
			<table class="table table-responsive table-hover table-sm table-bordered"">
				<thead class="basel-table-head"><tr>
					<th>Descricao</th>
					<th>C.M.S. <small>(%/PV)</small></th>
					<th>Vol. <small>(%)</small></th>
					<th>Vol. <small>(Kg/Reb./Peri.)</small></th>
					<th>Conc. <small>(%)</small></th>
					<th>Conc. <small>(Kg/Reb./Peri.)</small></th>
				</tr></thead>
				<tbody class="basel-table-body"><tr ng-repeat="item in anoAlimentacao">
					<td>{{item.descricao}}</td>
					<td>{{item.cms}}</td>
					<td>{{item.vol}}</td>
					<td>{{item.volf}}</td>
					<td>{{item.conc}}</td>
					<td>{{item.conf}}</td>
				</tr></tbody>
			</table>
		</div>
	<!-- OPERACIONAL -->
		<div class="col-md-6">
			<h2 class="text-right">Custos Operacionais</h2>
			<table class="table table-responsive table-hover table-sm table-bordered">
				<thead class="basel-table-head"><tr>
					<th>Descricao</th>
					<th>Qtd</th>
					<th>Valor <small>(R$)</small></th>
				</tr></thead>
				<tbody class="basel-table-body"><tr ng-repeat="item in anoOperacional">
					<td>{{item.descricao}}</td>
					<td>{{item.qtd}}</td>
					<td>{{item.valor}}</td>
				</tr></tbody>
			</table>
		</div>
	<!-- BALANCO -->
		<div class="col-md-6">
			<h2 class="text-right">Balanco</h2>
			<table class="table table-responsive table-hover table-sm table-bordered">
				<thead class="basel-table-head"><tr>
					<th>Descricao</th>
					<th>Animal <small>(R$)</small></th>
					<th>Arroba <small>(R$)</small></th>
				</tr></thead>
				<tbody class="basel-table-body"><tr ng-repeat="item in anoBalanco">
					<td>{{item.descricao}}</td>
					<td>{{item.animal}}</td>
					<td>{{item.arroba}}</td>
				</tr></tbody>
			</table>
		</div>
	</div>

	<!-- CONTROLLERS -->
	<div class="modal fade" id="taxasController" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Informe os Dados da Cria Animal</h4>
				</div>
				<div class="modal-body">
					<form class="basel-form">						
						<div class="form-group">
							<label>P.V. <small>inicial</small></label><input type="text" class="form-control" ng-model="form.pvi">
						</div>
						<div class="form-group">
							<label>G.M.D.</label><input type="text" class="form-control" ng-model="form.gmd">
						</div>
						<div class="form-group">
							<label>Periodo</label><input type="text" class="form-control" ng-model="form.periodo">
						</div>
						<div class="form-group">
							<label>C.M.S. <small>(%/PV)</small></label><input type="text" class="form-control" ng-model="form.cms">
						</div>
						<div class="form-group">
							<label>Vol. da Alimentacao<small>(%)</small></label><input type="text" class="form-control" ng-model="form.vol">
						</div>
						<div class="form-group">
							<label>Valor da Racao <small>(R$/Kg)</small></label><input type="text" class="form-control" ng-model="form.valor_racao">
						</div>
						<div class="form-group">
							<label>Valor do Concentrado <small>(R$/Kg)</small></label><input type="text" class="form-control" ng-model="form.valor_racao_conc">
						</div>
						<div class="form-group">
							<label>Valor da Arroba <small>(R$/@)</small></label><input type="text" class="form-control" ng-model="form.valor_arroba">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<div class="btn-group btn-group-justified" role="group">
                        <div class="btn-group" role="group">
                            <button class="btn btn-success" ng-click="newTaxas()"><span class="glyphicon glyphicon-ok"></button>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-default" ng-click="cancel()" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></button>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>

</div>