<div ng-controller="custoAdmController">
	<div class="row">
		<div class="page-header">
			<h1>Despesas Administrativas</h1>
			<a href="" ng-click="delete()"><span class="glyphicon glyphicon-trash"></span></a>
			<a href="" data-toggle="modal" data-target="#custoAdmModalNew"><span class="glyphicon glyphicon-plus"></span></a>
		</div>
	</div>

	<div class="row">
		<table class="table table-responsive table-hover table-sm table-bordered" ng-init="initRebanhoQtd()">
			<thead class="thead-inverse">
				<th>Descrição</th>
				<th>Janeiro</th>				
				<th>Fevereiro</th>
				<th>Março</th>
				<th>Abril</th>
				<th>Maio</th>
				<th>Junho</th>
				<th>Julho</th>
				<th>Agosto</th>
				<th>Setembro</th>
				<th>Outubro</th>
				<th>Novembro</th>
				<th>Dezembro</th>
				<th class="text-center">R$</th>
			</thead>
			<tbody class="basel-table-body">
			<tr ng-repeat="item in custo_adm">
				<td>{{item.descricao}}</td>
				<td>{{item.jan | number:2}}</td>
				<td>{{item.fev | number:2}}</td>
				<td>{{item.mar | number:2}}</td>
				<td>{{item.abr | number:2}}</td>
				<td>{{item.mai | number:2}}</td>
				<td>{{item.jun | number:2}}</td>
				<td>{{item.jul | number:2}}</td>
				<td>{{item.ago | number:2}}</td>
				<td>{{item.sem | number:2}}</td>
				<td>{{item.out | number:2}}</td>
				<td>{{item.nov | number:2}}</td>
				<td>{{item.dez | number:2}}</td>
				<td><button class="btn btn-info btn-sq-xs" ng-click="edit(item)"><span class="glyphicon glyphicon-pencil"></span></button></td>
			</tr>
			</tbody>
		</table>

		<table class="table table-responsive table-hover table-sm table-bordered">
			<thead class="thead-inverse">
				<th class="text-center">R$</th>
				<th>Janeiro</th>				
				<th>Fevereiro</th>
				<th>Março</th>
				<th>Abril</th>
				<th>Maio</th>
				<th>Junho</th>
				<th>Julho</th>
				<th>Agosto</th>
				<th>Setembro</th>
				<th>Outubro</th>
				<th>Novembro</th>
				<th>Dezembro</th>
			</thead>
			<tbody class="basel-table-body">
			<tr>
				<td>Despesa Total</td>
				<td>{{total_adm_mes[0] | number:2}}</td>
				<td>{{total_adm_mes[1] | number:2}}</td>
				<td>{{total_adm_mes[2] | number:2}}</td>
				<td>{{total_adm_mes[3] | number:2}}</td>
				<td>{{total_adm_mes[4] | number:2}}</td>
				<td>{{total_adm_mes[5] | number:2}}</td>
				<td>{{total_adm_mes[6] | number:2}}</td>
				<td>{{total_adm_mes[7] | number:2}}</td>
				<td>{{total_adm_mes[8] | number:2}}</td>
				<td>{{total_adm_mes[9] | number:2}}</td>
				<td>{{total_adm_mes[10] | number:2}}</td>
				<td>{{total_adm_mes[11] | number:2}}</td>
			</tr>
			<tr>
				<td>Despesa Total/Cabeca</td>
				<td>{{total_adm_pcabeca[0] | number:2}}</td>
				<td>{{total_adm_pcabeca[1] | number:2}}</td>
				<td>{{total_adm_pcabeca[2] | number:2}}</td>
				<td>{{total_adm_pcabeca[3] | number:2}}</td>
				<td>{{total_adm_pcabeca[4] | number:2}}</td>
				<td>{{total_adm_pcabeca[5] | number:2}}</td>
				<td>{{total_adm_pcabeca[6] | number:2}}</td>
				<td>{{total_adm_pcabeca[7] | number:2}}</td>
				<td>{{total_adm_pcabeca[8] | number:2}}</td>
				<td>{{total_adm_pcabeca[9] | number:2}}</td>
				<td>{{total_adm_pcabeca[10] | number:2}}</td>
				<td>{{total_adm_pcabeca[11] | number:2}}</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div class="modal fade" id="custoAdmModal" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Componente de Despesa Adm</h4>
				</div>

				<div class="modal-body">
					<form class="basel-form">
						<input type="hidden" class="form-control" ng-model="form.id">

						<div class="form-group col-md-12">
							<label>Descrição</label><input type="text" class="form-control" ng-model="form.descricao" readonly>
						</div>

						<div class="form-group col-md-3">
							<label>Janeiro</label><input type="text" class="form-control" ng-model="form.jan">
						</div>

						<div class="form-group col-md-3">
							<label>Fevereiro</label><input type="text" class="form-control" ng-model="form.fev">
						</div>

						<div class="form-group col-md-3">
							<label>Março</label><input type="text" class="form-control" ng-model="form.mar">
						</div>

						<div class="form-group col-md-3">
							<label>Abril</label><input type="text" class="form-control" ng-model="form.abr">
						</div>

						<div class="form-group col-md-3">
							<label>Maio</label><input type="text" class="form-control" ng-model="form.mai">
						</div>

						<div class="form-group col-md-3">
							<label>Junho</label><input type="text" class="form-control" ng-model="form.jun">
						</div>

						<div class="form-group col-md-3">
							<label>Julho</label><input type="text" class="form-control" ng-model="form.jul">
						</div>

						<div class="form-group col-md-3">
							<label>Agosto</label><input type="text" class="form-control" ng-model="form.ago">
						</div>

						<div class="form-group col-md-3">
							<label>Setembro</label><input type="text" class="form-control" ng-model="form.sem">
						</div>

						<div class="form-group col-md-3">
							<label>Outubro</label><input type="text" class="form-control" ng-model="form.out">
						</div>

						<div class="form-group col-md-3">
							<label>Novembro</label><input type="text" class="form-control" ng-model="form.nov">
						</div>

						<div class="form-group col-md-3">
							<label>Dezembro</label><input type="text" class="form-control" ng-model="form.dez">
						</div>
					</form>
				</div>

				<div class="modal-footer">
					<div class="btn-group btn-group-justified" role="group">
                        <div class="btn-group" role="group">
                            <button class="btn btn-success" ng-click="save()"><span class="glyphicon glyphicon-ok"></button>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-default" ng-click="cancel()" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></button>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="custoAdmModalNew" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Componente de Despesa Adm</h4>
				</div>

				<div class="modal-body">
					<form class="basel-form">
						<div class="form-group col-md-12">
							<label>Descrição</label><input type="text" class="form-control" ng-model="form.descricao">
						</div>

						<div class="form-group col-md-3">
							<label>Janeiro</label><input type="text" class="form-control" ng-model="form.jan">
						</div>

						<div class="form-group col-md-3">
							<label>Fevereiro</label><input type="text" class="form-control" ng-model="form.fev">
						</div>

						<div class="form-group col-md-3">
							<label>Março</label><input type="text" class="form-control" ng-model="form.mar">
						</div>

						<div class="form-group col-md-3">
							<label>Abril</label><input type="text" class="form-control" ng-model="form.abr">
						</div>

						<div class="form-group col-md-3">
							<label>Maio</label><input type="text" class="form-control" ng-model="form.mai">
						</div>

						<div class="form-group col-md-3">
							<label>Junho</label><input type="text" class="form-control" ng-model="form.jun">
						</div>

						<div class="form-group col-md-3">
							<label>Julho</label><input type="text" class="form-control" ng-model="form.jul">
						</div>

						<div class="form-group col-md-3">
							<label>Agosto</label><input type="text" class="form-control" ng-model="form.ago">
						</div>

						<div class="form-group col-md-3">
							<label>Setembro</label><input type="text" class="form-control" ng-model="form.sem">
						</div>

						<div class="form-group col-md-3">
							<label>Outubro</label><input type="text" class="form-control" ng-model="form.out">
						</div>

						<div class="form-group col-md-3">
							<label>Novembro</label><input type="text" class="form-control" ng-model="form.nov">
						</div>

						<div class="form-group col-md-3">
							<label>Dezembro</label><input type="text" class="form-control" ng-model="form.dez">
						</div>
					</form>
				</div>

				<div class="modal-footer">
					<div class="btn-group btn-group-justified" role="group">
                        <div class="btn-group" role="group">
                            <button class="btn btn-success" ng-click="new()"><span class="glyphicon glyphicon-ok"></button>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-default" ng-click="cancel()" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></button>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>