<div ng-controller="custoOportunidadeController">
	<div class="row">
		<div class="page-header">
			<h1>Custo de Oportunidade</h1>
			<a href="" ng-click="delete()"><span class="glyphicon glyphicon-trash"></span></a>
			<a href="" data-toggle="modal" data-target="#custoOportunidade"><span class="glyphicon glyphicon-plus"></span></a>
		</div>
	</div>

	<div class="row">
		<table class="table table-responsive table-hover table-sm table-bordered" ng-init="initReceita()">
			<thead class="thead-inverse">
				<th>Descrição</th>
				<th>Valores</th>				
				<th class="text-center">R$</th>
			</thead>
			<tbody class="basel-table-body">
			<tr>
				<td>{{item.descricao}}</td>
				<td>{{item.jan | number:2}}</td>
				<td><button class="btn btn-info btn-sq-xs" ng-click="edit(item)"><span class="glyphicon glyphicon-pencil"></span></button></td>
			</tr>
			</tbody>
		</table>

		<table class="table table-responsive table-hover table-sm table-bordered">
			<thead class="thead-inverse">
				<th class="text-center">R$</th>
				<th>Janeiro</th>				
				<th>Fevereiro</th>
				<th>Março</th>
				<th>Abril</th>
				<th>Maio</th>
				<th>Junho</th>
				<th>Julho</th>
				<th>Agosto</th>
				<th>Setembro</th>
				<th>Outubro</th>
				<th>Novembro</th>
				<th>Dezembro</th>
			</thead>
			<tbody class="basel-table-body">
			<tr>
				<td>Receita Total</td>
				<td>{{receita_mes[0] | number:2}}</td>
				<td>{{receita_mes[1] | number:2}}</td>
				<td>{{receita_mes[2] | number:2}}</td>
				<td>{{receita_mes[3] | number:2}}</td>
				<td>{{receita_mes[4] | number:2}}</td>
				<td>{{receita_mes[5] | number:2}}</td>
				<td>{{receita_mes[6] | number:2}}</td>
				<td>{{receita_mes[7] | number:2}}</td>
				<td>{{receita_mes[8] | number:2}}</td>
				<td>{{receita_mes[9] | number:2}}</td>
				<td>{{receita_mes[10] | number:2}}</td>
				<td>{{receita_mes[11] | number:2}}</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div class="modal fade" id="custoOportunidadeModal" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Componentes de Calculo Custo de Oportunidade</h4>
				</div>

				<div class="modal-body">
					<form class="basel-form">
						<input type="hidden" class="form-control" ng-model="form.id">
						<input type="hidden" class="form-control" ng-model="form.propriedadeId_FK">

						<div class="form-group col-md-3">
							<label>Area de Reserva P.A.A.</label><input type="text" class="form-control" ng-model="form.area_reserva">
						</div>

						<div class="form-group col-md-3">
							<label>Ganho Arroba/Ano</label><input type="text" class="form-control" ng-model="form.ganho_arroba">
						</div>

						<div class="form-group col-md-3">
							<label>Tempo de Aluguel</label><input type="text" class="form-control" ng-model="form.aluguel_tempo">
						</div>

						<div class="form-group col-md-3">
							<label>Valor de Aluguel</label><input type="text" class="form-control" ng-model="form.aluguel_valor">
						</div>

						<div class="form-group col-md-3">
							<label>Taxa SELIC</label><input type="text" class="form-control" ng-model="form.selic">
						</div>

						<div class="form-group col-md-3">
							<label>Imposto Bancario</label><input type="text" class="form-control" ng-model="form.imposto">
						</div>

						<div class="form-group col-md-3">
							<label>Inflação</label><input type="text" class="form-control" ng-model="form.inflacao">
						</div>
					</form>
				</div>

				<div class="modal-footer">
					<div class="btn-group btn-group-justified" role="group">
                        <div class="btn-group" role="group">
                            <button class="btn btn-success" ng-click="save()"><span class="glyphicon glyphicon-ok"></button>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-default" ng-click="cancel()" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></button>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>