<form id="frmCadastre">
	<ul> 
		<li> 
			<label for="txtID">ID:</label> 
			<input type="text" id="txtID"/> 
		</li> 
		<li> 
			<label for="txtName">Name:</label> 
			<input type="text" id="txtName"/> 
		</li> 
		<li> 
			<label for="txtPhone">Phone:</label> 
			<input type="text" id="txtPhone"/> 
		</li> 
		<li> 
			<label for="txtEmail">Email:</label> 
			<input type="text" id="txtEmail"/> 
		</li> 
		<li> 
			<input type="submit" value="Save" id="btnSave"/> 
		</li> 
	</ul> 
</form> 
<table id="tblList"> </table>