<div ng-controller="inicioController">
	<div class="container" ng-init="list()">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="btn-group btn-group-lg btn-group-vertical" role="group" aria-label="...">
                            <button type="button" class="btn btn-info btn-block" onclick="location.href = '#/maquinas';">Maquinas</button>
                            <button type="button" class="btn btn-info btn-block" onclick="location.href = '#/benfeitorias';">Benfeitorias</button>
                            <button type="button" class="btn btn-info btn-block" onclick="location.href = '#/manutencao';">Manutenção</button>
                            <button type="button" class="btn btn-info btn-block" onclick="location.href = '#/animal';">Animais</button>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h2>Seja Bem Vindo, {{getUser()}}</h4>
                        <br>
                        <h3>Propriedade: {{atual.nome}}</h3>
                        <h4>Municipio: {{atual.municipio}}</h3>
                        <h4>Área: {{atual.area}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</div>

	<div class="modal fade" id="inicioController" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					<h4 class="modal-title" id="myModalLabel">Cadastro de Propriedade</h4>
				</div>
				<div class="modal-body">
					<form class="basel-form">
						<div class="form-group"><input type="hidden" class="form-control" ng-model="form.id"></div>
						<div class="form-group"><input type="hidden" class="form-control" ng-model="form.usuarioLogin_FK" ng-value=getUser()></div>
						<div class="form-group"><label>Nome da Propriedade</label><input type="text" class="form-control" ng-model="form.nome"></div>
						<div class="form-group"><label>Municipio</label><input type="text" class="form-control" ng-model="form.municipio"></div>
						<div class="form-group"><label>Area</label><input type="text" class="form-control" ng-model="form.area"></div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary basel-btn-save" ng-click="save()">Salvar</button>
					<button type="button" class="btn btn-default basel-btn-cancel" ng-click="cancel()" data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>

    <div class="modal fade" id="selectController" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Selecione uma Propriedade</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped" ng-init="list()">
                        <thead class="basel-table-head">
                            <tr>
                                <th>Nome</th>
                                <th>Municipio</th>
                            </tr>
                        </thead>
                        <tbody class="basel-table-body">
                            <tr dir-paginate="item in items | itemsPerPage: 10">
                                <td><button type="button" class="btn btn-default" ng-click="setId(item.id)" data-dismiss="modal">{{item.nome}}</button></td>
                                <td>{{item.municipio}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#inicioController"">Nova Propriedade</button>
                </div>
            </div>
        </div>
    </div>
</div>