<div ng-controller="inventarioController">
	<div class="row">
		<div class="page-header">
			<h1>Inventario <small>Ligado a Atividade</small></h1>

			<a href="" ng-click="delete()"><span class="glyphicon glyphicon-trash"></span></a>
			<a href="" data-toggle="modal" data-target="#inventarioModal"><span class="glyphicon glyphicon-paperclip"></span></a>
		</div>
	</div>

	<div class="row">
		<table class="table table-responsive table-hover table-sm table-bordered" ng-init="initInventario()">
			<thead class="thead-inverse">
				<th>Bens de Capital</th>
				<th>Valor de Mercado(R$)</th>
				<th>Valor de Sucata</th>
				<th>Capital Medio</th>
				<th>% Patrimonio</th>
			</thead>
			<tbody class="basel-table-body">
			<tr ng-repeat="item in inventario">
				<td>{{item.descricao}}</td>
				<td>{{item.valor_inicial | number:2}}</td>
				<td>{{item.valor_final | number:2}}</td>
				<td>{{item.medio | number:2}}</td>
				<td>{{item.percent | number:1}} %</td>
				<td>
					<button class="btn btn-info btn-sq-xs" ng-click="edit(item)"><span class="glyphicon glyphicon-pencil"></span></button>
					<button class="btn btn-danger btn-sq-xs" ng-click="delete(item)"><span class="glyphicon glyphicon-trash"></span></button>
				</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div class="modal fade" id="inventarioModal" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Cadastro de Bens de Capital</h4>
				</div>

				<div class="modal-body">
					<form class="basel-form">						
						<div class="form-group">
							<input type="hidden" class="form-control" ng-model="form.id">
						</div>
						<div class="form-group">
							<label>Descricao</label><input type="text" class="form-control" ng-model="form.descricao">
						</div>
						<div class="form-group">
							<label>Valor de Mercado</label><input type="text" class="form-control" ng-model="form.valor_inicial">
						</div>
						<div class="form-group">
							<label>Valor de Sucata</label><input type="text" class="form-control" ng-model="form.valor_final">
						</div>
					</form>
				</div>

				<div class="modal-footer">
					<div class="btn-group btn-group-justified" role="group">
                        <div class="btn-group" role="group">
                            <button class="btn btn-success" ng-click="save()"><span class="glyphicon glyphicon-ok"></button>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-default" ng-click="cancel()" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></button>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>