<div ng-controller="vrebanhoController">
	<div class="row">
		<div class="page-header">
			<h1>Variação do Rebanho</h1>
		</div>
	</div>

	<div class="row text-center" ng-init="initRebanho()">

		<div class="container-fluid">
			<table class="table table-responsive table-hover table-sm table-bordered font-sm">
				<thead class="table-head">
				<tr>
					<th></th>
					<th colspan="2">Janeiro</th>				
					<th colspan="2">Fevereiro</th>
					<th colspan="2">Março</th>
					<th colspan="2">Abril</th>
					<th colspan="2">Maio</th>
					<th colspan="2">Junho</th>
					<th colspan="2">Julho</th>
					<th colspan="2">Agosto</th>
					<th colspan="2">Setembro</th>
					<th colspan="2">Outubro</th>
					<th colspan="2">Novembro</th>
					<th colspan="2">Dezembro</th>
				</tr>
				<tr>
					<th>Descrição</th>

					<th>Peso</th>
					<th>Qtd</th>

					<th>Peso</th>
					<th>Qtd</th>

					<th>Peso</th>
					<th>Qtd</th>

					<th>Peso</th>
					<th>Qtd</th>

					<th>Peso</th>
					<th>Qtd</th>

					<th>Peso</th>
					<th>Qtd</th>

					<th>Peso</th>
					<th>Qtd</th>

					<th>Peso</th>
					<th>Qtd</th>

					<th>Peso</th>
					<th>Qtd</th>

					<th>Peso</th>
					<th>Qtd</th>

					<th>Peso</th>
					<th>Qtd</th>

					<th>Peso</th>
					<th>Qtd</th>			
				</tr>
				</thead>

				<tbody class="table-body">
				<tr ng-repeat="animal in vrebanho">
					<td>{{animal[0].descricao}}</td>

					<td>{{animal[0].peso}}</td>
					<td>{{animal[0].qtd}}</td>

					<td>{{animal[1].peso}}</td>
					<td>{{animal[1].qtd}}</td>

					<td>{{animal[2].peso}}</td>
					<td>{{animal[2].qtd}}</td>

					<td>{{animal[3].peso}}</td>
					<td>{{animal[3].qtd}}</td>

					<td>{{animal[4].peso}}</td>
					<td>{{animal[4].qtd}}</td>

					<td>{{animal[5].peso}}</td>
					<td>{{animal[5].qtd}}</td>

					<td>{{animal[6].peso}}</td>
					<td>{{animal[6].qtd}}</td>

					<td>{{animal[7].peso}}</td>
					<td>{{animal[7].qtd}}</td>

					<td>{{animal[8].peso}}</td>
					<td>{{animal[8].qtd}}</td>

					<td>{{animal[9].peso}}</td>
					<td>{{animal[9].qtd}}</td>

					<td>{{animal[10].peso}}</td>
					<td>{{animal[10].qtd}}</td>

					<td>{{animal[11].peso}}</td>
					<td>{{animal[11].qtd}}</td>

					<td>
						<button class="btn btn-info btn-sq-xs" ng-click="edit(animal)"><span class="glyphicon glyphicon-pencil"></span></button>
					</td>
					<td>
						<button class="btn btn-danger btn-sq-xs" ng-click="delete(animal)"><span class="glyphicon glyphicon-trash"></span></button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="modal fade" id="vrebanhoModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-center" id="myModalLabel">Cadastro de Animais</h4>
				</div>
				<div class="modal-body">
					<label>Descricao</label><input type="text" class="form-control" ng-value="form[0].descricao" readonly>
					
					<div class="form-group col-md-3">
						<h4>Janeiro</h4>
						<label>Peso:</label><input type="number" min="0" class="form-control" ng-value="form[0].peso" ng-model="form[0].peso">
						<label>Quantidade:</label><input type="number" min="0" class="form-control" ng-value="form[0].qtd" ng-model="form[0].qtd">
					</div>
					<div class="form-group col-md-3">
						<h4>Fevereiro</h4>
						<label>Peso:</label><input type="number" min="0" class="form-control" ng-value="form[1].peso" ng-model="form[1].peso">
						<label>Quantidade:</label><input type="number" min="0" class="form-control" ng-value="form[1].qtd" ng-model="form[1].qtd">
					</div>
					<div class="form-group col-md-3">
						<h4>Março</h4>
						<label>Peso:</label><input type="number" min="0" class="form-control" ng-value="form[2].peso" ng-model="form[2].peso">
						<label>Quantidade:</label><input type="number" min="0" class="form-control" ng-value="form[2].qtd" ng-model="form[2].qtd">
					</div>
					<div class="form-group col-md-3">
						<h4>Abril</h4>
						<label>Peso:</label><input type="number" min="0" class="form-control" ng-value="form[3].peso" ng-model="form[3].peso">
						<label>Quantidade:</label><input type="number" min="0" class="form-control" ng-value="form[3].qtd" ng-model="form[3].qtd">
					</div>
					<div class="form-group col-md-3">
						<h4>Maio</h4>
						<label>Peso:</label><input type="number" min="0" class="form-control" ng-value="form[4].peso" ng-model="form[4].peso">
						<label>Quantidade:</label><input type="number" min="0" class="form-control" ng-value="form[4].qtd" ng-model="form[4].qtd">
					</div>
					<div class="form-group col-md-3">
						<h4>Junho</h4>
						<label>Peso:</label><input type="number" min="0" class="form-control" ng-value="form[5].peso" ng-model="form[5].peso">
						<label>Quantidade:</label><input type="number" min="0" class="form-control" ng-value="form[5].qtd" ng-model="form[5].qtd">
					</div>
					<div class="form-group col-md-3">
						<h4>Julho</h4>
						<label>Peso:</label><input type="number" min="0" class="form-control" ng-value="form[6].peso" ng-model="form[6].peso">
						<label>Quantidade:</label><input type="number" min="0" class="form-control" ng-value="form[6].qtd" ng-model="form[6].qtd">
					</div>
					<div class="form-group col-md-3">
						<h4>Agosto</h4>
						<label>Peso:</label><input type="number" min="0" class="form-control" ng-value="form[7].peso" ng-model="form[7].peso">
						<label>Quantidade:</label><input type="number" min="0" class="form-control" ng-value="form[7].qtd" ng-model="form[7].qtd">
					</div>
					<div class="form-group col-md-3">
						<h4>Setembro</h4>
						<label>Peso:</label><input type="number" min="0" class="form-control" ng-value="form[8].peso" ng-model="form[8].peso">
						<label>Quantidade:</label><input type="number" min="0" class="form-control" ng-value="form[8].qtd" ng-model="form[8].qtd">
					</div>
					<div class="form-group col-md-3">
						<h4>Outubro</h4>
						<label>Peso:</label><input type="number" min="0" class="form-control" ng-value="form[9].peso" ng-model="form[9].peso">
						<label>Quantidade:</label><input type="number" min="0" class="form-control" ng-value="form[9].qtd" ng-model="form[9].qtd">
					</div>
					<div class="form-group col-md-3">
						<h4>Novembro</h4>
						<label>Peso:</label><input type="number" min="0" class="form-control" ng-value="form[10].peso" ng-model="form[10].peso">
						<label>Quantidade:</label><input type="number" min="0" class="form-control" ng-value="form[10].qtd" ng-model="form[10].qtd">
					</div>
					<div class="form-group col-md-3">
						<h4>Dezembro</h4>
						<label>Peso:</label><input type="number" min="0" class="form-control" ng-value="form[11].peso" ng-model="form[11].peso">
						<label>Quantidade:</label><input type="number" min="0" class="form-control" ng-value="form[11].qtd" ng-model="form[11].qtd">
					</div>
				</div>
				<div class="modal-footer">
					<div class="btn-group btn-group-justified" role="group">
                        <div class="btn-group" role="group">
                            <button class="btn btn-success" ng-click="save()"><span class="glyphicon glyphicon-ok"></button>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-default" ng-click="cancel()" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></button>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>